{% extends 'base.html' %}

{% block content %}
<div>
    <h1><a href="/"style="color:DimGray">Blog Posts</a></h1>
</div>

{% for post in posts %}
<div class="container">
    <div class="container">
        <div>
            <h2 style="color:DimGray"><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> <h5 style="font-size:75%;">{{ post.published_date }}</h5></h2>
        </div>
        <hr />
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
</div>
    <br/>
{% endfor %}

{% endblock %}